#include "\masm32\include\resource.h"
/**********************************************************************************************/
#define MY_CAPTION1 "WinUpack 3.9\nstatic unpacker v.0.3"
#define MY_CAPTION2 "WinUpack 3.9 static unpacker v.0.3"
#define MY_DATE     "Release date: 05.03.2007"
/**********************************************************************************************/
#define IDC_STATIC -1
#define ID_BUTTON1_1 401

#define ID_EDIT1 101
#define ID_EDIT2 102

#define ID_CBUTTON1 201
#define ID_CBUTTON2 202

#define ID_BUTTON1 301
#define ID_BUTTON2 302
#define ID_BUTTON3 303

#define IDC_ABOUT 1000
#define IDB_LOGO 501
#define IDC_STATIC1 2002

DIALOG DIALOGEX MOVEABLE IMPURE LOADONCALL DISCARDABLE 30, 10, 250, 150, 0
//STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
STYLE WS_VISIBLE | DS_CENTER | WS_POPUP | WS_BORDER
/*EXSTYLE WS_EX_TOPMOST*/
FONT 8, "verdana"/*, 700, 0 FALSE*/
BEGIN
    CONTROL     IDB_LOGO,IDC_STATIC1,"Static", SS_BITMAP,5,5,400,80
    CTEXT       MY_CAPTION1,IDC_STATIC,30,55,180,40
	LTEXT       "Input:",IDC_STATIC,30,81,28,8
	LTEXT       "Output:",IDC_STATIC,30,92,28,8
	CONTROL		"", ID_EDIT1, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 80, 130, 10
	CONTROL		"", ID_EDIT2, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 91, 130, 10
    CONTROL     "", ID_CBUTTON1, BUTTON, BS_OWNERDRAW, 193,80,20,9
    CONTROL     "", ID_CBUTTON2, BUTTON, BS_OWNERDRAW, 193,91,20,9
	CONTROL     "", ID_BUTTON1, BUTTON, BS_OWNERDRAW, 30,115,60,14
    CONTROL     "", ID_BUTTON2, BUTTON, BS_OWNERDRAW, 91,115,60,14
    CONTROL     "", ID_BUTTON3, BUTTON, BS_OWNERDRAW, 152,115,60,14
END

IDC_ABOUT DIALOG DISCARDABLE  0, 0, 200, 100
//STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
STYLE WS_VISIBLE | DS_CENTER | WS_POPUP | WS_BORDER
FONT 9, "verdana"
BEGIN
    CTEXT       MY_CAPTION2,IDC_STATIC,10,10,180,10
    CTEXT       "Coded by: UsAr",IDC_STATIC,10,25,180,8
    CTEXT       "Greetings: dzen, dMNt,\n BUG(O)R, [sER]",IDC_STATIC,10,37,180,20
    CTEXT       MY_DATE,IDC_STATIC,10,60,180,8
    CONTROL     "",ID_BUTTON1_1, BUTTON, BS_OWNERDRAW,75,75,50,10
END

/*1 24 "manifest.bin"*/

200 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "my.ico"
IDB_LOGO BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "logo2.bmp"
